body {
    background-color: #EFB700;
    color: #000000;
}

a {
    color: #b71f2e;
    font-style: italic;
    text-decoration: none;
}

#Header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 24px;
}

#HeaderLink {
    color: #000000;
    text-underline-offset: 3;
}

#HomeButton {
    text-align: right;
}

#Nav {
    text-align: left
}

#SideDude {
    text-align: left;
}

#PageHyperlinks {
    list-style: none;
}

#Footer {
    text-align: center;
}